.page {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
}

.container {
  width: min(1300px, 92%);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  padding-block: calc(var(--space-xl) * 2);
}

/* ---------- Tablet ---------- */

@media (max-width: 992px) {
  .container {
    width: min(95%, 900px);
  }
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {
  .container {
    width: 94%;
    gap: var(--space-lg);
    padding-block: var(--space-xl);
  }
}